---
// Decorative constellation with stars - matches Figma design exactly
---

<div class="skills-constellation absolute inset-0 overflow-hidden pointer-events-none">
  <svg
    class="constellation-svg w-full h-full"
    viewBox="0 0 1440 860"
    preserveAspectRatio="xMidYMid meet"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- Main constellation path (dashed) - exact Figma coordinates -->
    <path
      class="constellation-path"
      d="M493.389 740.047L553.173 637.897L630.416 577.03L598.672 425.656L475.401 371.669L709.775 206.535L800.244 184.305L824.58 274.812L954.729 289.631M954.729 289.631L1119.8 518.28L1317.13 771.804M954.729 289.631L853.15 482.289L873.783 673.358"
      stroke="white"
      stroke-opacity="0.5"
      stroke-width="2"
      stroke-dasharray="4 4"
    />

    <!-- Gold stars at constellation junctions - exact Figma paths -->
    <g class="gold-stars">
      <!-- Top star near (709, 206) -->
      <path class="star gold" d="M711.866 198.741C712.445 197.938 713.722 198.272 713.828 199.267L713.828 199.268C714.119 202.127 714.733 204.433 715.907 206.466C717.08 208.499 718.771 210.184 721.101 211.866L721.102 211.866C721.905 212.445 721.572 213.722 720.575 213.828C717.717 214.12 715.41 214.733 713.377 215.907C711.344 217.08 709.66 218.771 707.978 221.101L707.977 221.102C707.434 221.855 706.276 221.609 706.048 220.753L706.015 220.573C705.723 217.715 705.11 215.41 703.937 213.377C702.763 211.344 701.072 209.66 698.742 207.978L698.741 207.977C697.938 207.398 698.272 206.121 699.268 206.016C702.127 205.724 704.433 205.11 706.466 203.937C708.499 202.763 710.184 201.072 711.866 198.742L711.866 198.741Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (800, 184) -->
      <path class="star gold" d="M796.984 175.697C797.336 174.772 798.656 174.763 799.016 175.697V175.698C800.037 178.384 801.227 180.453 802.887 182.113C804.547 183.773 806.616 184.963 809.302 185.984H809.303C810.228 186.336 810.237 187.656 809.302 188.016C806.616 189.037 804.547 190.227 802.887 191.887C801.227 193.547 800.037 195.616 799.016 198.302V198.303C798.686 199.171 797.504 199.232 797.062 198.465L796.983 198.3C795.962 195.615 794.773 193.546 793.113 191.887C791.453 190.227 789.384 189.037 786.698 188.016H786.697C785.772 187.664 785.763 186.344 786.698 185.984C789.384 184.963 791.453 183.773 793.113 182.113C794.773 180.453 795.963 178.384 796.984 175.698V175.697Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (824, 274) - sparkle shape -->
      <path class="star gold" d="M822.227 261.478C822.069 260.501 823.208 259.833 823.987 260.462L823.987 260.463C826.215 262.278 828.28 263.475 830.547 264.083C832.814 264.691 835.201 264.686 838.038 264.228L838.039 264.227C839.016 264.069 839.684 265.208 839.054 265.987C837.239 268.215 836.041 270.28 835.434 272.547C834.826 274.814 834.831 277.201 835.289 280.038L835.289 280.039C835.438 280.956 834.445 281.6 833.678 281.156L833.528 281.053C831.301 279.238 829.237 278.041 826.97 277.434C824.702 276.826 822.315 276.831 819.479 277.289L819.478 277.289C818.5 277.448 817.833 276.309 818.463 275.53C820.278 273.302 821.475 271.237 822.083 268.97C822.691 266.702 822.686 264.315 822.228 261.479L822.227 261.478Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Main junction star at (954, 289) -->
      <path class="star gold" d="M947.118 276.067C947.36 273.68 950.435 272.847 951.852 274.799L951.852 274.799C954.733 278.791 957.583 281.639 960.992 283.607C964.4 285.575 968.292 286.619 973.189 287.119L973.19 287.118C975.577 287.36 976.41 290.436 974.458 291.852C970.466 294.733 967.618 297.583 965.65 300.992C963.682 304.4 962.638 308.292 962.138 313.189L962.139 313.19C961.897 315.577 958.82 316.411 957.404 314.458L957.405 314.458C954.524 310.467 951.674 307.618 948.265 305.65C944.857 303.682 940.965 302.638 936.068 302.139L936.067 302.139C933.68 301.898 932.846 298.821 934.798 297.404L934.799 297.405C938.791 294.524 941.639 291.674 943.607 288.265C945.575 284.857 946.619 280.965 947.119 276.068L947.118 276.067Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Branch star at (598, 425) - smaller -->
      <path class="star gold" d="M593.866 415.741C594.445 414.938 595.722 415.272 595.828 416.267L595.828 416.268C596.119 419.127 596.733 421.433 597.907 423.466C599.08 425.499 600.771 427.184 603.101 428.866L603.102 428.866C603.905 429.445 603.572 430.722 602.575 430.828C599.717 431.12 597.41 431.733 595.377 432.907C593.344 434.08 591.66 435.771 589.978 438.101L589.977 438.102C589.434 438.855 588.276 438.609 588.048 437.753L588.015 437.573C587.723 434.715 587.11 432.41 585.937 430.377C584.763 428.344 583.072 426.66 580.742 424.978L580.741 424.977C579.938 424.398 580.272 423.121 581.268 423.016C584.127 422.724 586.433 422.11 588.466 420.937C590.499 419.763 592.184 418.072 593.866 415.742L593.866 415.741Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (475, 371) -->
      <path class="star gold" d="M467.118 347.067C467.36 344.68 470.435 343.847 471.852 345.799L471.852 345.799C474.733 349.791 477.583 352.639 480.992 354.607C484.4 356.575 488.292 357.619 493.189 358.119L493.19 358.118C495.577 358.36 496.41 361.436 494.458 362.852C490.466 365.733 487.618 368.583 485.65 371.992C483.682 375.4 482.638 379.292 482.138 384.189L482.139 384.19C481.897 386.577 478.82 387.411 477.404 385.458L477.405 385.458C474.524 381.467 471.674 378.618 468.265 376.65C464.857 374.682 460.965 373.638 456.068 373.139L456.067 373.139C453.68 372.898 452.846 369.821 454.798 368.404L454.799 368.405C458.791 365.524 461.639 362.674 463.607 359.265C465.575 355.857 466.619 351.965 467.119 347.068L467.118 347.067Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (630, 577) -->
      <path class="star gold" d="M625.984 562.697C626.336 561.772 627.656 561.763 628.016 562.697V562.698C629.037 565.384 630.227 567.453 631.887 569.113C633.547 570.773 635.616 571.963 638.302 572.984H638.303C639.228 573.336 639.237 574.656 638.302 575.016C635.616 576.037 633.547 577.227 631.887 578.887C630.227 580.547 629.037 582.616 628.016 585.302V585.303C627.686 586.171 626.504 586.232 626.062 585.465L625.983 585.3C624.962 582.615 623.773 580.546 622.113 578.887C620.453 577.227 618.384 576.037 615.698 575.016H615.697C614.772 574.664 614.763 573.344 615.698 572.984C618.384 571.963 620.453 570.773 622.113 569.113C623.773 567.453 624.963 565.384 625.984 562.698V562.697Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (853, 482) -->
      <path class="star gold" d="M846.118 471.067C846.36 468.68 849.435 467.847 850.852 469.799L850.852 469.799C853.733 473.791 856.583 476.639 859.992 478.607C863.4 480.575 867.292 481.619 872.189 482.119L872.19 482.118C874.577 482.36 875.41 485.436 873.458 486.852C869.466 489.733 866.618 492.583 864.65 495.992C862.682 499.4 861.638 503.292 861.138 508.189L861.139 508.19C860.897 510.577 857.82 511.411 856.404 509.458L856.405 509.458C853.524 505.467 850.674 502.618 847.265 500.65C843.857 498.682 839.965 497.638 835.068 497.139L835.067 497.139C832.68 496.898 831.846 493.821 833.798 492.404L833.799 492.405C837.791 489.524 840.639 486.674 842.607 483.265C844.575 479.857 845.619 475.965 846.119 471.068L846.118 471.067Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (873, 673) -->
      <path class="star gold" d="M872.984 663.697C873.336 662.772 874.656 662.763 875.016 663.697V663.698C876.037 666.384 877.227 668.453 878.887 670.113C880.547 671.773 882.616 672.963 885.302 673.984H885.303C886.228 674.336 886.237 675.656 885.302 676.016C882.616 677.037 880.547 678.227 878.887 679.887C877.227 681.547 876.037 683.616 875.016 686.302V686.303C874.686 687.171 873.504 687.232 873.062 686.465L872.983 686.3C871.962 683.615 870.773 681.546 869.113 679.887C867.453 678.227 865.384 677.037 862.698 676.016H862.697C861.772 675.664 861.763 674.344 862.698 673.984C865.384 672.963 867.453 671.773 869.113 670.113C870.773 668.453 871.963 666.384 872.984 663.698V663.697Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (493, 740) - smaller -->
      <path class="star gold" d="M490.045 718.295C490.211 716.657 492.324 716.083 493.298 717.426C495.538 720.528 497.764 722.757 500.437 724.301C503.11 725.844 506.154 726.657 509.961 727.045L509.962 727.045C511.6 727.211 512.174 729.325 510.831 730.298C507.729 732.538 505.5 734.764 503.957 737.437C502.414 740.11 501.601 743.154 501.212 746.961L501.211 746.962C501.045 748.6 498.932 749.174 497.958 747.831C495.719 744.729 493.493 742.5 490.821 740.957C488.148 739.413 485.103 738.6 481.296 738.212L481.295 738.211L481.145 738.191C479.624 737.916 479.125 735.903 480.425 734.959C483.528 732.719 485.757 730.493 487.301 727.82C488.844 725.147 489.657 722.103 490.045 718.296L490.045 718.295Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (1119, 518) -->
      <path class="star gold" d="M1091.41 458.798C1092.81 456.852 1095.89 457.668 1096.14 460.067L1096.14 460.068C1096.64 464.965 1097.68 468.857 1099.65 472.265C1101.62 475.674 1104.47 478.524 1108.46 481.405L1108.46 481.405C1110.41 482.808 1109.59 485.888 1107.19 486.138C1102.29 486.638 1098.4 487.682 1094.99 489.65C1091.58 491.618 1088.73 494.466 1085.85 498.458L1085.85 498.459C1084.45 500.405 1081.37 499.588 1081.12 497.189L1081.12 497.189C1080.62 492.292 1079.57 488.4 1077.61 484.992C1075.64 481.583 1072.79 478.733 1068.8 475.852L1068.8 475.852C1066.85 474.449 1067.67 471.368 1070.07 471.117L1070.07 471.119C1074.96 470.619 1078.86 469.575 1082.27 467.607C1085.67 465.639 1088.52 462.791 1091.41 458.799L1091.41 458.798Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (1317, 771) -->
      <path class="star gold" d="M1341.19 777.118C1343.58 777.36 1344.41 780.435 1342.46 781.852L1342.46 781.852C1338.47 784.733 1335.62 787.583 1333.65 790.992C1331.68 794.4 1330.64 798.292 1330.14 803.189L1330.14 803.19C1329.9 805.577 1326.82 806.41 1325.41 804.458C1322.52 800.466 1319.67 797.618 1316.27 795.65C1312.86 793.682 1308.96 792.638 1304.07 792.139L1304.07 792.139C1301.68 791.897 1300.85 788.82 1302.8 787.404L1302.8 787.405C1306.79 784.524 1309.64 781.674 1311.61 778.265C1313.57 774.857 1314.62 770.965 1315.12 766.068L1315.12 766.067C1315.36 763.68 1318.44 762.846 1319.85 764.798L1319.85 764.799C1322.73 768.791 1325.58 771.639 1328.99 773.607C1332.4 775.575 1336.29 776.619 1341.19 777.119L1341.19 777.118Z" fill="#F4C348" stroke="white" stroke-width="2"/>

      <!-- Star at (1218, 639) -->
      <path class="star gold" d="M1218.78 639.035C1218.95 637.397 1221.06 636.822 1222.04 638.165C1224.28 641.268 1226.5 643.497 1229.18 645.04C1231.85 646.583 1234.89 647.397 1238.7 647.785L1238.7 647.785C1240.34 647.95 1240.91 650.064 1239.57 651.038C1236.47 653.278 1234.24 655.504 1232.7 658.177C1231.15 660.849 1230.34 663.894 1229.95 667.701L1229.95 667.702C1229.79 669.34 1227.67 669.914 1226.7 668.571C1224.46 665.469 1222.23 663.239 1219.56 661.696C1216.89 660.153 1213.84 659.34 1210.04 658.952L1210.03 658.951L1209.88 658.931C1208.36 658.655 1207.86 656.643 1209.16 655.699C1212.27 653.459 1214.5 651.233 1216.04 648.56C1217.58 645.887 1218.4 642.843 1218.79 639.036L1218.78 639.035Z" fill="#F4C348" stroke="white" stroke-width="2"/>
    </g>

    <!-- White stars - exact Figma positions -->
    <g class="white-stars">
      <!-- Small 4-point white stars -->
      <path class="star white" d="M412.554 191.445C412.207 192.316 412.012 193.142 412.012 194C412.012 194.857 412.208 195.683 412.554 196.554C411.683 196.207 410.857 196.011 410 196.011C409.143 196.011 408.317 196.207 407.446 196.554C407.792 195.683 407.988 194.857 407.988 194C407.988 193.142 407.793 192.316 407.446 191.445C408.317 191.792 409.142 191.988 410 191.988C410.858 191.988 411.683 191.792 412.554 191.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M690.554 342.445C690.207 343.316 690.012 344.142 690.012 345C690.012 345.857 690.208 346.683 690.554 347.554C689.683 347.207 688.857 347.011 688 347.011C687.143 347.011 686.317 347.207 685.446 347.554C685.792 346.683 685.988 345.857 685.988 345C685.988 344.142 685.793 343.316 685.446 342.445C686.317 342.792 687.142 342.988 688 342.988C688.858 342.988 689.683 342.792 690.554 342.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M920.554 775.445C920.207 776.316 920.012 777.142 920.012 778C920.012 778.857 920.208 779.683 920.554 780.554C919.683 780.207 918.857 780.011 918 780.011C917.143 780.011 916.317 780.207 915.446 780.554C915.792 779.683 915.988 778.857 915.988 778C915.988 777.142 915.793 776.316 915.446 775.445C916.317 775.792 917.142 775.988 918 775.988C918.858 775.988 919.683 775.792 920.554 775.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M1318.55 587.445C1318.21 588.316 1318.01 589.142 1318.01 590C1318.01 590.857 1318.21 591.683 1318.55 592.554C1317.68 592.207 1316.86 592.011 1316 592.011C1315.14 592.011 1314.32 592.207 1313.45 592.554C1313.79 591.683 1313.99 590.857 1313.99 590C1313.99 589.142 1313.79 588.316 1313.45 587.445C1314.32 587.792 1315.14 587.988 1316 587.988C1316.86 587.988 1317.68 587.792 1318.55 587.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M120.554 751.445C120.207 752.316 120.012 753.142 120.012 754C120.012 754.857 120.208 755.683 120.554 756.554C119.683 756.207 118.857 756.011 118 756.011C117.143 756.011 116.317 756.207 115.446 756.554C115.792 755.683 115.988 754.857 115.988 754C115.988 753.142 115.793 752.316 115.446 751.445C116.317 751.792 117.142 751.988 118 751.988C118.858 751.988 119.683 751.792 120.554 751.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M1205.55 335.445C1205.21 336.316 1205.01 337.142 1205.01 338C1205.01 338.857 1205.21 339.683 1205.55 340.554C1204.68 340.207 1203.86 340.011 1203 340.011C1202.14 340.011 1201.32 340.207 1200.45 340.554C1200.79 339.683 1200.99 338.857 1200.99 338C1200.99 337.142 1200.79 336.316 1200.45 335.445C1201.32 335.792 1202.14 335.988 1203 335.988C1203.86 335.988 1204.68 335.792 1205.55 335.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M719.554 682.445C719.207 683.316 719.012 684.142 719.012 685C719.012 685.857 719.208 686.683 719.554 687.554C718.683 687.207 717.857 687.011 717 687.011C716.143 687.011 715.317 687.207 714.446 687.554C714.792 686.683 714.988 685.857 714.988 685C714.988 684.142 714.793 683.316 714.446 682.445C715.317 682.792 716.142 682.988 717 682.988C717.858 682.988 718.683 682.792 719.554 682.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M411.554 481.445C411.207 482.316 411.012 483.142 411.012 484C411.012 484.857 411.208 485.683 411.554 486.554C410.683 486.207 409.857 486.011 409 486.011C408.143 486.011 407.317 486.207 406.446 486.554C406.792 485.683 406.988 484.857 406.988 484C406.988 483.142 406.793 482.316 406.446 481.445C407.317 481.792 408.142 481.988 409 481.988C409.858 481.988 410.683 481.792 411.554 481.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M127.554 536.445C127.207 537.316 127.012 538.142 127.012 539C127.012 539.857 127.208 540.683 127.554 541.554C126.683 541.207 125.857 541.011 125 541.011C124.143 541.011 123.317 541.207 122.446 541.554C122.792 540.683 122.988 539.857 122.988 539C122.988 538.142 122.793 537.316 122.446 536.445C123.317 536.792 124.142 536.988 125 536.988C125.858 536.988 126.683 536.792 127.554 536.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M1040.55 171.445C1040.21 172.316 1040.01 173.142 1040.01 174C1040.01 174.857 1040.21 175.683 1040.55 176.554C1039.68 176.207 1038.86 176.011 1038 176.011C1037.14 176.011 1036.32 176.207 1035.45 176.554C1035.79 175.683 1035.99 174.857 1035.99 174C1035.99 173.142 1035.79 172.316 1035.45 171.445C1036.32 171.792 1037.14 171.988 1038 171.988C1038.86 171.988 1039.68 171.792 1040.55 171.445Z" fill="white" stroke="white" stroke-width="2"/>

      <path class="star white" d="M1021.55 516.445C1021.21 517.316 1021.01 518.142 1021.01 519C1021.01 519.857 1021.21 520.683 1021.55 521.554C1020.68 521.207 1019.86 521.011 1019 521.011C1018.14 521.011 1017.32 521.207 1016.45 521.554C1016.79 520.683 1016.99 519.857 1016.99 519C1016.99 518.142 1016.79 517.316 1016.45 516.445C1017.32 516.792 1018.14 516.988 1019 516.988C1019.86 516.988 1020.68 516.792 1021.55 516.445Z" fill="white" stroke="white" stroke-width="2"/>

      <!-- Medium white 4-point star at (279, 648) -->
      <path class="star white-large" d="M286.659 639.674C287.562 639.269 288.501 640.196 288.095 641.111L288.094 641.111C286.918 643.733 286.296 646.037 286.296 648.385C286.296 650.732 286.918 653.037 288.094 655.658L288.095 655.659C288.501 656.562 287.574 657.501 286.658 657.094C284.037 655.918 281.732 655.296 279.385 655.296C277.037 655.296 274.733 655.918 272.111 657.094L272.111 657.095C271.264 657.476 270.384 656.683 270.614 655.828L270.676 655.656C271.852 653.035 272.474 650.732 272.474 648.385C272.474 646.037 271.852 643.733 270.675 641.111L270.674 641.111C270.268 640.208 271.196 639.268 272.111 639.675C274.733 640.852 277.037 641.474 279.385 641.474C281.732 641.474 284.037 640.852 286.658 639.675L286.659 639.674Z" fill="white" stroke="white" stroke-width="2"/>

      <!-- Medium white star at (1146, 244) -->
      <path class="star white-large" d="M1151.64 237.584C1152.12 237.366 1152.64 237.865 1152.42 238.363L1152.42 238.364C1151.51 240.379 1151.02 242.168 1151.02 244.001C1151.02 245.833 1151.51 247.621 1152.42 249.636L1152.42 249.637C1152.63 250.123 1152.13 250.636 1151.64 250.415C1149.62 249.51 1147.83 249.024 1146 249.024C1144.17 249.024 1142.38 249.51 1140.36 250.415L1140.36 250.416C1139.88 250.635 1139.36 250.133 1139.59 249.634C1140.49 247.62 1140.98 245.832 1140.98 244.001C1140.98 242.168 1140.49 240.379 1139.58 238.364L1139.58 238.363C1139.37 237.876 1139.87 237.364 1140.36 237.585C1142.38 238.489 1144.17 238.977 1146 238.977C1147.83 238.977 1149.62 238.489 1151.64 237.585L1151.64 237.584Z" fill="white" stroke="white" stroke-width="2"/>

      <!-- Small white star at (1034, 692) -->
      <path class="star white" d="M1034.21 689.386C1034.74 689.44 1034.94 690.129 1034.5 690.45L1034.5 690.451C1032.71 691.744 1031.39 693.05 1030.47 694.637C1029.56 696.223 1029.09 698.016 1028.86 700.213L1028.86 700.214C1028.81 700.745 1028.12 700.938 1027.8 700.498C1026.5 698.707 1025.2 697.392 1023.61 696.475C1022.03 695.559 1020.23 695.086 1018.04 694.862L1018.03 694.862C1017.5 694.808 1017.31 694.117 1017.75 693.796C1019.54 692.504 1020.86 691.199 1021.77 689.613C1022.69 688.026 1023.16 686.233 1023.39 684.036L1023.39 684.035C1023.44 683.504 1024.13 683.311 1024.45 683.751C1025.74 685.542 1027.05 686.858 1028.64 687.774C1030.22 688.69 1032.02 689.162 1034.21 689.387L1034.21 689.386Z" fill="white" stroke="white" stroke-width="2"/>

      <!-- Large white sparkle at (1282, 405) -->
      <path class="star white-large" d="M1282.87 397.741C1283.44 396.938 1284.72 397.272 1284.83 398.267L1284.83 398.268C1285.12 401.127 1285.73 403.433 1286.91 405.466C1288.08 407.499 1289.77 409.184 1292.1 410.866L1292.1 410.866C1292.91 411.445 1292.57 412.722 1291.58 412.828C1288.72 413.12 1286.41 413.733 1284.38 414.907C1282.34 416.08 1280.66 417.771 1278.98 420.101L1278.98 420.102C1278.43 420.855 1277.28 420.609 1277.05 419.753L1277.02 419.573C1276.72 416.715 1276.11 414.41 1274.94 412.377C1273.76 410.344 1272.07 408.66 1269.74 406.978L1269.74 406.977C1268.94 406.398 1269.27 405.121 1270.27 405.016C1273.13 404.724 1275.43 404.11 1277.47 402.937C1279.5 401.763 1281.18 400.072 1282.87 397.742L1282.87 397.741Z" fill="white" stroke="white" stroke-width="2"/>
    </g>
  </svg>
</div>

<style>
  .skills-constellation {
    pointer-events: none;
  }

  .constellation-path {
    opacity: 0;
  }

  .star {
    opacity: 0;
    transform-origin: center;
    transform-box: fill-box;
  }

  @media (prefers-reduced-motion: reduce) {
    .constellation-path {
      opacity: 1;
    }
    .star {
      opacity: 1;
    }
  }
</style>

<script>
  import gsap from 'gsap';

  const prefersReducedMotion = window.matchMedia('(prefers-reduced-motion: reduce)').matches;

  if (!prefersReducedMotion) {
    const path = document.querySelector('.constellation-path') as SVGPathElement;
    const whiteStarsSmall = document.querySelectorAll('.white-stars .star.white:not(.white-large)');
    const whiteLargeStars = document.querySelectorAll('.white-stars .star.white-large');
    const goldStars = document.querySelectorAll('.gold-stars .star');

    // Draw the constellation path
    if (path) {
      const pathLength = path.getTotalLength();
      const dashSize = 4;
      const gapSize = 4;

      gsap.set(path, {
        strokeDasharray: `${dashSize} ${gapSize}`,
        strokeDashoffset: pathLength,
        opacity: 1
      });

      gsap.to(path, {
        strokeDashoffset: 0,
        duration: 3,
        ease: 'power1.out',
      });
    }

    // Animate small white stars
    gsap.fromTo(whiteStarsSmall,
      { opacity: 0, scale: 0 },
      {
        opacity: 1,
        scale: 1,
        duration: 0.4,
        stagger: { each: 0.08, from: 'random' },
        ease: 'back.out(1.7)',
        delay: 0.3
      }
    );

    // Animate large white stars
    gsap.fromTo(whiteLargeStars,
      { opacity: 0, scale: 0 },
      {
        opacity: 1,
        scale: 1,
        duration: 0.5,
        stagger: { each: 0.12, from: 'random' },
        ease: 'back.out(1.7)',
        delay: 0.5
      }
    );

    // Animate gold stars
    gsap.fromTo(goldStars,
      { opacity: 0, scale: 0 },
      {
        opacity: 1,
        scale: 1,
        duration: 0.5,
        stagger: { each: 0.15, from: 'random' },
        ease: 'back.out(1.7)',
        delay: 0.6
      }
    );

    // Subtle floating for gold stars
    goldStars.forEach((star) => {
      gsap.to(star, {
        y: -2 + Math.random() * 4,
        duration: 2.5 + Math.random() * 1.5,
        repeat: -1,
        yoyo: true,
        ease: 'sine.inOut',
        delay: 2.5 + Math.random() * 1,
      });
    });

    // Subtle twinkling for small white stars
    whiteStarsSmall.forEach((star) => {
      gsap.to(star, {
        opacity: 0.4 + Math.random() * 0.6,
        duration: 1.5 + Math.random() * 1.5,
        repeat: -1,
        yoyo: true,
        ease: 'sine.inOut',
        delay: 1.5 + Math.random() * 2,
      });
    });

    // Subtle twinkling for large white stars
    whiteLargeStars.forEach((star) => {
      gsap.to(star, {
        opacity: 0.7 + Math.random() * 0.3,
        duration: 2 + Math.random() * 2,
        repeat: -1,
        yoyo: true,
        ease: 'sine.inOut',
        delay: 2 + Math.random() * 1.5,
      });
    });
  }
</script>
