---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/layout/Header.astro';
import HeroSlider from '@/components/sections/HeroSlider.astro';
---

<Layout title="Tania Tello | Sr. Front End Engineer">
  <Header variant="pink" />
  <main>
    <HeroSlider email="hello@taniatello.com" />
  </main>
</Layout>
